body
  font-family 'helvetica'

.clearfix
  clear both

#topSection
  display flex
  flex-direction row
  border-bottom:4px solid black
  padding 20px

  .leftCol
    flex 2

  .rightCol
    flex 5
    form
      .topcoat-search-input--large
        vertical-align middle
      .topcoat-range
        vertical-align middle

    //   padding: 0 0.563rem;
    //   font-size: 12px;
    //   line-height: 1.313rem;
    //   letter-spacing: 0;
    //   vertical-align: middle;
  
  



#bottomSection
  display flex
  flex-direction row
  padding 10px 40px

  #forecast
    flex 1

  #charts
    flex 1


.attribution
  position absolute
  right 0
  bottom 0
  padding 20px