body {
  font-family: 'helvetica';
}
.clearfix {
  clear: both;
}
#topSection {
  display: flex;
  flex-direction: row;
  border-bottom: 4px solid #000;
  padding: 20px;
}
#topSection .leftCol {
  flex: 2;
}
#topSection .leftCol .logo {
  vertical-align: middle;
}
#topSection .rightCol {
  flex: 5;
}
#topSection .rightCol form input {
  margin: 0 10px 0 5px;
}
#topSection .rightCol form .topcoat-search-input--large {
  vertical-align: middle;
}
#topSection .rightCol form .topcoat-range {
  vertical-align: middle;
}
#bottomSection {
  display: flex;
  flex-direction: row;
  padding: 10px 40px;
}
#bottomSection #forecast {
  flex: 1;
  margin: 5px;
  padding: 0 30px 0 10px;
}
#bottomSection #forecast .forecastDay {
  background: #7a9ae5;
  border: 1px solid #7a9ae5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 5px 0;
  padding: 4px;
}
#bottomSection #forecast .forecastDay .date {
  text-align: right;
}
#bottomSection #forecast .forecastDay .dayIcon {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
#bottomSection #charts {
  flex: 1;
}
.attribution {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
}
