body
  font-family helvetica

.attribution
  position absolute
  right 0
  bottom 0
  padding 20px


#forecast
  position flex
  flex-direction row

  div
    flex 1

  .forecastDay:
    position flex
    flex 1
    flex-direction column
