body
  font-family 'helvetica'

.clearfix
  clear both

#topSection
  display flex
  flex-direction row
  border-bottom:4px solid black
  padding 20px

  .leftCol
    flex 2

    .logo
      vertical-align middle

  .rightCol
    flex 5
    form
      input
        margin 0 10px 0 5px
      .topcoat-search-input--large
        vertical-align middle
      .topcoat-range
        vertical-align middle



#bottomSection
  display flex
  flex-direction row
  padding 10px 40px

  #forecast
    flex 1
    margin 5px
    padding 0 30px 0 10px

    .forecastDay
      background #7A9AE5
      border 1px solid #7A9AE5
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      margin: 5px 0
      padding:4px

      .date
        text-align right

      .dayIcon
        display:inline-block
        float:left
        margin-right 10px


  #charts
    flex 1


.attribution
  position absolute
  right 0
  bottom 0
  padding 10px